<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>This is the home page</h1>
    

        <form for="" method="" action="http://localhost:3000/" href="" >
            <label>Display name here</label><button>Delete name</button>
            <label for="">Name</label>
            <input placeholder="change name here">
            <button type="submit">submit new name</button>

        </form>

        <script>

        </script>

        <style>

        </style>
    </body>
</html>